/* swiggy clone css */
.logo{
    border-radius: 15px;
    height: 50px;
    margin-left: 10px;
}

.sort{
    border: 1px solid lightgray;
    border-radius: 15px;
    width: 80px;
    margin-left: 10px;
    padding: 8px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}
.heading{
    margin-top: 20px;
    margin-left: 15px;
    font-weight:7000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.container{
    margin-left: 120px;
}
.cart{
     display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 150px;

}
.basic{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.parent{
    display: flex;
    justify-content:flex-start;
    gap: 16px;
    align-items: flex-start;
    flex-wrap: wrap;
    
}
.header{
    display: flex;
    align-items: center;
}
.Search{
    display: flex;
    margin-left: auto;
    align-items: center;
}
.cards{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 24px;
    width: 280px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.img{

    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 16px;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
h4,p{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p{
    font-size: 14px;
    color: rgb(75, 75, 75);
}